<!-- <section class="section-gris">
  <div class="container">
    <div class="row">
      <div class="seven columns padding-top-40">
        <h5 class="text-center padding-40-bottom">SOLUCIONES & SERVICIOS</h5>
          <div class="row">
            <div class="six columns">
                <div class="text-center padding-30-bottom">
                  <img style="" class="u-max-full-width" src="assets/images/delivery.png">  
                </div>
                <div class="text-center padding-30-bottom">
                  <label>SOLUCIONES</label>
                </div>
                <div>
                  <ul class="lista-soluciones-serv">
                    <li>Fletes Nacionales / Regionales</li>
                    <li>Servicios locales y foráneos con opción a repartos</li>
                    <li> Estadías</li>
                    <li> Maniobras</li>
                    <li>Ruteo</li>
                  </ul>
                </div>
            </div>
            <div class="six columns">
                <div class="text-center padding-30-bottom">
                  <img style="" class="u-max-full-width" src="assets/images/support.png">   
                </div>
                
                <div class="text-center padding-30-bottom">
                  <label>SERVICIO</label>
                </div>
                <div>
                  <p>Brindamos atención personalizada los 365 días del año, las 24 horas del día.</p>
                </div>
            </div>
          </div>
      </div>
      <div class="five columns">
        <img class="u-max-full-width" src="assets/images/solucionServicio.jpg">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="six columns padding-top-40">
          <img style="" class="u-max-full-width" src="assets/images/mexico_map.png">    
      </div>
      <div class="six columns padding-80-top">
        <div class="row">
          <div class="eleven colums">
            <h5>
                <span class="orange-text">Entregamos</span> 
                <b class="morado-text">a TODO MÉXICO</b>
            </h5>
          </div>
        </div>
        <div class="row">
            <div class="six columns border-right">
              <p>Opción a repartos y entregas directas en 
                  punto de venta. Entregas en CEDIS Ofrecemos el servicio de ESTADÍA /  MANIOBRAS según lo requiera el cliente y la  operación.</p>
            </div>
            <div class="six columns">
              <p>Estamos especializados en  <b>zona Bajío y zona Sureste</b> viajando siempre por autopista de cuota, con  cargas de diesel establecidas  y paradas en puntos  autorizados únicamente.</p>
              <br>
              <a class="button" href="#">CONOCE MÁS</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="background-nuestra-gente">
  <div class="container">
    <div class="row padding-80-top">
      <div class="six columns">
          <div class="row">
            <div class="two columns">
                <img style="width: 60px;" class="u-max-full-width" src="assets/images/team.png">    
            </div>
            <div class="ten columns">
              <h6 class="orange-text">Nuestra <br><b>gente</b></h6>
            </div>
          </div>
        <p class="white-text">En FORZA TRANSPORTES nos aseguramos de tener al personal mejor calificado para que la atención y el servicio al cliente sean de primera calidad y así lograr que la mercancía de nuestros clientes siempre llegue fría y puntual a su destino.</p>
        <p class="white-text">Esto podemos lograrlo mediante un riguroso proceso de reclutamiento de todos nuestros operadores y personal administrativo. </p>
        <a class="button button-border-orange" href="#">CONOCE MÁS</a>
      </div>
      <div class="six columns"></div>
    </div>
  </div>
</section>
 -->